<div class="container mt-3">

  <div class="row">

    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ingresar Usuario</h3>

          <form action="#">
            <div class="form-group">
              <label for="nombre">Nombre: </label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="actual.nombre" placeholder="Ingrese nombre">
            </div>
            <div class="form-group">
              <label for="pais">Pais: </label>
              <input type="text" class="form-control" id="pais" name="pais" [(ngModel)]="actual.pais" placeholder="Ingrese País">
            </div>

            <button type="submit" class="btn btn-primary" (click)="registrar();">Agregar</button>
          </form>

        </div>
      </div>
    </div>


    <div class="col-md-7">

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let empleado of empleados; index as i">
          <span class="badge badge-primary p-2">{{ i+1 }}</span> - {{ empleado.nombre }} - {{ empleado.pais }}
        </li>
      </ul>

    </div>

  </div>
</div>
